/.idea
/*/target
/*/*.iml
/*.iml
/.mvn/wrapper
/fontend/youtube-clone-ui/node_modules
/fontend/youtube-clone-ui/npm-debug.log
/fontend/youtube-clone-ui/yarn-error.log
/fontend/youtube-clone-ui/node
/fontend/youtube-clone-ui/.vscode
/fontend/youtube-clone-ui/package-log.json
/mvnw.cmd
/mvnw
